<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
  </head>
  <body>
        <div class="wrapper">
            <div class="end-text">{{end_text}}</div>
            <div id="tic-tac-toe">
                {% for i in range(9) %}
                <div class="box" id="box-{{i+1}}" onclick="window.location='/?board={{board[:i] + turn + board[i+1:] if (board[i] == '0' and is_end == 0) else board}}'">
                    {% if board[i] == '1'%}
                        <div class="circle"></div>
                    {% elif board[i] == '2'%}
                        <div class="cross"></div>
                        <div class="cross2"></div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="btn-wrapper">
                <div id="reset" onclick="window.location='/'">
                    RESET
                </div>
            </div>
        </div>
        <img id="bear" src="{{ url_for('static', path='/bear.png') }}">
  </body>
</html>